.rotate {
  /* 애니매이션 이름, time period(속도) , ?, 영원히 */
  animation: rotate_image 3s linear infinite;

  /* 회전의 중심 위치, 완전 원형으로 회전시키려면 이미지 파일의 정중아에 회전시키려는 중심이 위치해야하한다 */
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
